Repository martient/golang-utils, changes with the labels that .github/labeler.yml gives for each.
All labels: repository config, log, default interface value, test, docs, setup, package

Create dependabot.yml
  .github/dependabot.yml
Labels: repository config, setup

Update dependabot.yml
  .github/dependabot.yml
Labels: repository config, setup

setup (tag version) add params
  .github/workflows/release.yml
Labels: repository config, setup

feat (http): added httpClient for oauth2 and none client
  go.mod
  go.sum
  utils/http.go
Labels: setup, package

feat (log): added logError -> only error and logErrorInterface -> more printf
  utils/log.go
Labels: log

.github/labeler.yml:

# Add 'repo' label to any root file changes
'repository config':
- '.github/**'
- '.vscode/**'

log:
- 'utils/log.go'

"default interface value":
- 'utils/interfaceDefaultValue.go'

test:
- src/**/*_test.go

docs:
- '**.md'

setup:
- '.github/**'
- 'Makefile'
- 'go.mod'
- 'go.sum'
- '.gitignore'

package:
- 'go.mod'
- 'go.sum'
